html {
  background: linear-gradient(355deg, #1b2c3b 0%, #181e28 28%);
  color: #F5C09A;
  font-family: "Work Sans",sans-serif
}

a {
  color: #fff;
}

.App {
  text-align: center;
}

h1, h2, h3 {
  color: #F5C09A;
  font-family: "Reem Kufi",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
}

h2 {
  margin-top: 0px;
  margin-bottom: 30px;
}

.section-wrapper {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-bottom: 60px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.summary {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-tab {
  display: flex;
  flex-direction: column;
  padding-top: 0px;
  align-items: center;
  width: 720px;
}

.box-wrapper {
  display: flex;
  flex-direction: column;
  margin-right: 30px; 
  height: 100%;
  justify-content: center;
  align-items: center;
}

.chart-container {
  width: 700px;
  height: 400px;
}

.chart-container-2 {
  width: 700px;
  height: 400px;
}

.chart-container-3 {
  width: 700px;
  height: 400px;
}

.weight-table {
  width: 720px;
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
  padding-top: 20px;
}

.weight-table-column {
  display: flex;
  flex-direction: column;
  width: 33%;
}

.weight-table-row {
  display: grid;
  grid-template-columns: 20% 55% 25%;
  width: 100%;
  text-align: left;
}

.table-item-1 {
  margin: 5px;
}

.table-item-2 {
  margin: 5px;
  font-weight: 700;
}

.table-title {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  font-size: 16pt;
  margin-bottom: 10px;
  margin-top: 10px;
  border-bottom: solid 1px #F5C09A;
}

.small-table-inner {
  display: grid;
  grid-template-columns: 40% 60%;
  row-gap: 3px;
  width: 300px;
  text-align: left;
}

.small-table-inner-2 {
  display: grid;
  grid-template-columns: 35% 38% 27%;
  row-gap: 3px;
  width: 350px;
  text-align: left;
}

.small-table-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.small-table-row-2 {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  color: #fff;
  font-weight: 700;
}

.small-table {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  margin-right: 15px;
}

.small-table-2 {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.header-disclaimer {
  width: 100%;
  background-color: #F5C09A;
  color: #1b2c3b;
  margin: -8px;
  padding: 5px;
  padding-right: 10px;
}

.footer {
  width: 100%;
  background-color: #F5C09A;
  color: #1b2c3b;
  margin: -8px;
  margin-top: 30px;
  padding: 5px;
  padding-right: 10px;
}

.header-image {
  margin-bottom: 40px;
}

.image {
  height: 30px;
  padding: 3px;
}

.image2 {
  height: 15px;
  padding: 1px;
}

.image3 {
  height: 70px;
  margin-top: 40px;
}

.normal-content {
  text-align: left;
}

.important {
  color: #fff;
  font-weight: 700;
}

.important-2 {
  color: #fff;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.important-3 {
  margin-top: 15px;
  color: #fff;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.important-4 {
  margin-top: 10px;
  color: #fff;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chart-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart-title-explain {
  font-size: 13px;
  margin-bottom: 10px;
}

.inflation-title {
  margin-bottom: 0px;
}

.tokens {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
}

.toggle-text {
  color: #fff;
  font-size: 11pt;
}

.tvl-tables {
  display: flex;
  flex-direction: row;
}

@media (max-width: 740px) {
  .chart-container {
    width: 600px;
  }
  .chart-container-2 {
    width: 600px;
  }
  .chart-container-3 {
    width: 600px;
  }
  .weight-table {
    flex-direction: column;
    width: 330px;
  }
  .weight-table-column {
    width: 100%;
  }
  .content-tab {
    width: 600px;
  }
  .tvl-tables {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .chart-container {
    width: 500px;
    height: 350px;
  }
  .chart-container-2 {
    width: 500px;
  }
  .chart-container-3 {
    width: 500px;
  }
  .content-tab {
    width: 500px;
  }
}

@media (max-width: 500px) {
  .chart-container {
    width: 400px;
    height: 290px;
  }
  .chart-container-2 {
    width: 400px;
  }
  .chart-container-3 {
    width: 400px;
  }
  .content-tab {
    width: 400px;
  }
}

@media (max-width: 400px) {
  .chart-container {
    width: 370px;
  }
  .chart-container-2 {
    width: 370px;
  }
  .chart-container-3 {
    width: 370px;
  }
  .content-tab {
    width: 370px;
  }
}


@media (max-width: 1470px) {
  .section-wrapper {
    flex-direction: column;
  }
  .chart-container {
    margin-top: 20px;
  }
  .chart-container-3 {
    margin-top: 20px;
  }
  .box-wrapper {
    margin-right: 0px;
  }
}