* {
  box-sizing: content-box;
}

body {
  background: linear-gradient(171.08deg,#010101 -11.16%,#141921 6.1%,#0a0d11 49.05%,#000000 93.22%) no-repeat fixed;
  color: #f5f5f5;
  font-family: "Montserrat",sans-serif,"Work Sans";
  line-height: 1.5;
  box-sizing: content-box;
  font-size: 16px;
}

.body-report-version {
  background-color: #181E28;
  color: #f5f5f5;
  font-family: "Montserrat",sans-serif,"Work Sans";
  line-height: 1.5;
  box-sizing: content-box;
  font-size: 16px;
}



a {
  color: #fff;
}

a:hover{
  color: #fff;
}

.App {
  text-align: center;
}

h1, h3 {
  color: #f5f5f5;
  font-family: 'Neue Kabel',Josefin Sans,sans-serif;
  margin-top: 25px;
  margin-bottom: 1.5rem;
  line-height: 1.5;
  font-weight: 600;
}

h1 {
  font-size: 1.9rem;
}

h2 {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 1.5rem;
  font-family: 'Neue Kabel',Josefin Sans,sans-serif;
  color: #f5f5f5;
  font-size: 1.5rem;
  letter-spacing: .05em;
}

h3 {
  font-size: 1.2rem;
}

.alchemix-logo {
  height: 3.75rem;
}

.header-container {
  padding-left: 1rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  background-color: rgba(14,17,22,1);
  border-color: rgba(32,36,44,1);
  border-bottom-width: 1px;
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.header-style {
  width: 49%;
  display: flex;
  align-items: flex-start;
}

.header-switcher {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 49%;
}

.section-wrapper {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-bottom: 60px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.section-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.earn-top {
  margin-top: 40px;
}

.summary {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overview {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

.content-tab {
  display: flex;
  flex-direction: column;
  padding-top: 0px;
  align-items: center;
  width: 720px;
}

.box-wrapper {
  display: flex;
  flex-direction: column;
  margin-right: 30px; 
  height: 100%;
  justify-content: center;
  align-items: center;
}

.ust {
  color: white;
  font-size: 9pt;
}

.chart-container {
  width: 700px;
  height: 400px;
}

.chart-container-2 {
  width: 700px;
  height: 400px;
}

.chart-container-3 {
  width: 700px;
  height: 400px;
}

.weight-table {
  width: 720px;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  padding-top: 20px;
  justify-content: center;
}

.weight-table-column {
  display: flex;
  flex-direction: column;
  width: 33%;
}

.weight-table-row {
  display: grid;
  grid-template-columns: 20% 55% 25%;
  width: 100%;
  text-align: left;
}

.table-item-1 {
  margin: 5px;
}

.table-item-2 {
  margin: 5px;
  font-weight: 700;
}

.table-title {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  font-size: 16pt;
  margin-bottom: 10px;
  margin-top: 10px;
  border-bottom: solid 1px #F5C09A;
}

.small-table-inner {
  display: grid;
  grid-template-columns: 40% 60%;
  row-gap: 3px;
  width: 300px;
  text-align: left;
}

.small-table-inner-2 {
  display: grid;
  grid-template-columns: 33% 34% 33%;
  row-gap: 3px;
  width: 350px;
  text-align: left;
}

.small-table-inner-3 {
  display: grid;
  grid-template-columns: 15% 35% 25% 25%;
  row-gap: 3px;
  width: 350px;
  text-align: left;
}

.small-table-inner-4 {
  display: grid;
  grid-template-columns: 24% 14% 14% 14% 14% 12%;
  row-gap: 3px;
  width: 600px;
  margin-top: 10px;
  text-align: left;
}

.small-table-inner-5 {
  display: grid;
  grid-template-columns: 24% 17% 17% 17% 17%;
  row-gap: 3px;
  width: 600px;
  margin-top: 10px;
  text-align: left;
}

.small-table-inner-6 {
  display: grid;
  grid-template-columns: 7% 28% 21% 21% 23%;
  row-gap: 3px;
  width: 600px;
  margin-top: 10px;
  text-align: left;
}

.small-table-inner-7 {
  display: grid;
  grid-template-columns: 15% 50% 35%;
  row-gap: 3px;
  width: 300px;
  margin-top: 10px;
  text-align: left;
}

.small-table-inner-8 {
  display: grid;
  grid-template-columns: 9% 30% 20% 41%;
  row-gap: 3px;
  width: 550px;
  margin-top: 10px;
  text-align: left;
}

.small-table-inner-9 {
  display: grid;
  grid-template-columns: 20% 45% 35%;
  row-gap: 3px;
  width: 300px;
  margin-top: 10px;
  text-align: left;
}

.small-table-inner-10 {
  display: grid;
  grid-template-columns: 35% 65%;
  row-gap: 3px;
  width: 550px;
  margin-top: 10px;
  text-align: left;
}

.small-table-inner-11 {
  display: grid;
  grid-template-columns: 24% 14% 14% 14% 14% 12%;
  row-gap: 3px;
  width: 600px;
  margin-top: 10px;
  text-align: left;
}

.small-table-inner-12 {
  display: grid;
  grid-template-columns: 13% 21% 23% 27% 16%;
  row-gap: 3px;
  width: 350px;
  text-align: left;
}

.small-table-title-wrap {
  display: grid;
  grid-template-columns: 20% 80%;
}

.small-table-content-wrap {
  display: grid;
  grid-template-columns: 29% 29% 42%;
}

.small-table-cell-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.small-table-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.small-table-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.small-table-row-2 {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  color: #fff;
  font-weight: 700;
}

.small-table {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  margin-right: 15px;
}

.small-table-2 {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.small-table-3 {
  display: flex;
  flex-direction: column;
  margin: 10px;
  margin-top: 0px;
}

.small-table-4 {
  display: flex;
  flex-direction: column;
  margin: 10px;
  margin-top: 0px;
}

.header-disclaimer {
  width: 100%;
  background-color: #F5C09A;
  color: #1b2c3b;
  margin: -8px;
  padding: 5px;
  padding-right: 10px;
}

.footer {
  width: 100%;
  background-color: #F5C09A;
  color: #1b2c3b;
  margin: -8px;
  margin-top: 30px;
  padding: 5px;
  padding-right: 10px;
}

.header-image {
  margin-bottom: 40px;
}

.image {
  height: 30px;
  padding: 3px;
}

.image2 {
  height: 15px;
  padding: 1px;
}

.image3 {
  height: 70px;
  margin-top: 0px;
  margin-right: 20px;
}

.header-button {
  height: 40px;
  margin-top: 0px;
  margin-right: 20px;
}

.image-menu {
  height: 40px;
  padding: 3px;
}

.normal-content {
  text-align: left;
  margin-top: 30px;
}

.important {
  color: #fff;
  font-weight: 700;
}

.important-2 {
  color: #fff;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.important-3 {
  margin-top: 15px;
  color: #fff;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.important-4 {
  margin-top: 10px;
  color: #fff;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.important-5 {
  margin-top: 7px;
  color: #fff;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.table-text-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.table-text-title-margin {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 7px;
}

.table-text-bold {
  font-weight: 700;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.table-text-bold-2 {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.chart-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart-title-explain {
  font-size: 13px;
  margin-bottom: 10px;
}

.inflation-title {
  margin-bottom: 0px;
}

.tokens {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
}

.toggle-text {
  color: #fff;
  font-size: 11pt;
}

.tvl-tables {
  display: flex;
  flex-direction: row;
}

.tvl-tables-2 {
  display: flex;
  flex-direction: row;
}

.tvl-tables-3 {
  display: flex;
  flex-direction: row;
}

.MuiButton-containedSizeSmall {
  color: #1b2c3b !important;
  background-color: #F5C09A !important;
}

.MuiButton-containedSizeMedium {
  color: #1b2c3b !important;
  background-color: #F5C09A !important;
}

.MuiSwitch-switchBase.Mui-checked {
  color: #F5C09A !important;
}

.MuiSwitch-track {
  background-color: #fff !important;
}

.MuiSwitch-switchBase.Mui-checked+.MuiSwitch-track {
  background-color: #F5C09A !important;
}

.change-positive {
  color: #5ef7a0;
  font-weight: 500;
}

.change-negative {
  color: red;
  font-weight: 500;
}

.button-group-small-screen {
  display: none;
}

.button-group-lower {
  margin-top: 10px;
}

.earn-summary {
  width: 50%;
}

.earn-yield-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.earn-yield {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.earn-yield-row {
  display: flex;
  flex-direction: row;
}

.earn-yield-alasset {
  width: 100px;
}

.earn-yield-strat {
  display: flex;
  align-items: center;
  width: 200px;
  text-align: left;
}

.earn-yield-yield {
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.earn-yield-reward {
  width: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.earn-yield-chain {
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.earn-yield-link {
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

div.earn-yield-link a {
  text-decoration: none;
}

.earn-yield-protocol-name {
  width: 100%;
  text-align: left;
  font-size: 20px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.protocol-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 40px;
}

.protocol-inner {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.description-all {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
}

.switcher {
  font-size: 15pt;
  color: #fff;
}

.menu-switcher {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  align-items: center;
  height: 3.5rem;
  display: flex;
  border-color: rgba(32,36,44,1);
  border-width: 1px;
  border-style: solid;
  background-color: rgba(16,21,27,1);
  justify-content: center;
  width: 900px;
}

.multifarm-switcher-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.multifarm-switcher {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  align-items: center;
  height: 3.5rem;
  display: flex;
  border-color: rgba(32,36,44,1);
  border-width: 1px;
  border-style: solid;
  background-color: rgba(16,21,27,1);
  justify-content: center;
  width: 280px;
}

.multifarm-switcher-buttons-active {
  font-size: .75rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  background-color: rgba(40,45,58,1);
  border-radius: 0.25rem;
  color: white;
  cursor: pointer;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.multifarm-switcher-buttons-inactive {
  font-size: .75rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  border-radius: 0.25rem;
  color: rgba(77,84,102,1);
  cursor: pointer;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.multifarm-switcher-buttons-inside {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  padding-left: 5px;
}

.multifarm-switcher-buttons-sub-inside {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  padding-left: 5px;
  width: 70px;
}

.multifarm-widget-powered-by-badge {
  background-color: #141921 !important;
  color: white !important;
}

@media (max-width: 780px) {
  .chart-container {
    width: 600px;
  }
  .chart-container-2 {
    width: 600px;
  }
  .chart-container-3 {
    width: 600px;
  }
  .weight-table {
    flex-direction: column;
    width: 330px;
  }
  .weight-table-column {
    width: 100%;
  }
  .content-tab {
    width: 600px;
  }
  .tvl-tables {
    flex-direction: column;
  }
  .small-table-3 {
    flex-direction: row;
  }
  .small-table-inner-4 {
    grid-template-columns: 1fr;
    grid-template-rows: 17% 17% 17% 17% 16% 16%;
    width: 145px;
  }
  .small-table-inner-5 {
    grid-template-columns: 1fr;
    grid-template-rows: 20% 20% 20% 20% 20%;
    width: 145px;
    row-gap: 10px;
    margin-top: 0px;
  }
  .small-table-inner-8 {
    width: 400px;
    grid-template-columns: 13% 33% 27% 27%;
  }
  .small-table-inner-11 {
    margin-top: 30px;
    grid-template-columns: 1fr;
    grid-template-rows: 30% 14% 14% 14% 14% 14%;
    width: 145px;
    text-align: center;
  }
  .small-table-cell-title {
    flex-direction: column;
  }
  .button-group-large-screen {
    display: none;
  }
  .button-group-small-screen {
    display: flex;
    flex-direction: column;
  }
  .menu-switcher {
    width: 495px;
  }
  .multifarm-switcher-buttons-inside {
    width: 90px;
  }
}

@media (max-width: 600px) {
  .chart-container {
    width: 500px;
    height: 350px;
  }
  .chart-container-2 {
    width: 500px;
  }
  .chart-container-3 {
    width: 500px;
  }
  .content-tab {
    width: 500px;
  }
  .small-table-inner-10 {
    grid-template-columns: 1fr;
    width: 400px;
  }
  .small-table-title-wrap {
    grid-template-columns: 100%;
    margin-top: 7px;
    margin-bottom: 3px;
  }
  .cell-disappear {
    display: none;
  }
  .menu-switcher {
    width: 450px;
  }
  .multifarm-switcher-buttons-inside {
    width: 80px;
  }
  .multifarm-switcher-buttons-active {
    padding: 0.25rem;
  }
  .multifarm-switcher-buttons-inactive {
    padding: 0.25rem;
  }
}

@media (max-width: 500px) {
  .chart-container {
    width: 400px;
    height: 300px;
  }
  .chart-container-2 {
    width: 400px;
  }
  .chart-container-3 {
    width: 400px;
  }
  .content-tab {
    width: 400px;
  }
  .menu-switcher {
    width: 390px;
  }
  .multifarm-switcher-buttons-inside {
    width: 65px;
  }
}

@media (max-width: 400px) {
  .chart-container {
    width: 370px;
  }
  .chart-container-2 {
    width: 370px;
  }
  .chart-container-3 {
    width: 370px;
  }
  .content-tab {
    width: 370px;
  }
}

@media (max-width: 1100px) {
  .tvl-tables-2 {
    flex-direction: column;
  }
}

@media (max-width: 1275px) {
  .tvl-tables-3 {
    flex-direction: column;
  }
}


@media (max-width: 1470px) {
  .section-wrapper {
    flex-direction: column;
  }
  .chart-container {
    margin-top: 20px;
  }
  .chart-container-3 {
    margin-top: 20px;
  }
  .box-wrapper {
    margin-right: 0px;
  }
}